<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">
    
    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="@Url.Content("~/style.css")" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="style.ie7.css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="@Url.Content("~/style.responsive.css")" media="all">
    
    <script src="@Url.Content("~/jquery.js")"></script>
    <script src="@Url.Content("~/script.js")"></script>
    <script src="@Url.Content("~/script.responsive.js")"></script>

    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/modernizr")
    
    @Scripts.Render("~/bundles/jquery")
    
    @RenderSection("scripts", required: false)



        <style>
            .art-content .art-postcontent-0 .layout-item-0 {
            color: #B2B2B2;
            }

        .art-content .art-postcontent-0 .layout-item-1 {
            color: #B2B2B2;
            padding-right: 10px;
            padding-left: 10px;
        }

        .ie7 .art-post .art-layout-cell {
            border: none !important;
            padding: 0 !important;
        }

        .ie6 .art-post .art-layout-cell {
            border: none !important;
            padding: 0 !important;
        }
        </style>
    </head>
    <body>

        <div id="art-main">
            <nav class="art-nav">
                <ul class="art-hmenu"><li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li><li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li></ul>
            </nav>
            <header class="art-header">

                <div class="art-shapes">
                    <div class="art-object2107113112"></div>
                    <div class="art-object464636792"></div>

                </div>








            </header>
            <div class="art-sheet clearfix">
                <div class="art-layout-wrapper">
                    <div class="art-content-layout">
                        <div class="art-content-layout-row">
                            <div class="art-layout-cell art-content">
                                <article class="art-post art-article">


                                    <div class="art-postcontent art-postcontent-0 clearfix">
                                        <div class="art-content-layout layout-item-0">
                                            <div class="art-content-layout-row">
                                                <div class="art-layout-cell layout-item-1" style="width: 100%">
                                                    <p>
                                                        <br>
                                                        @RenderBody()
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="art-footer">
                <div class="art-footer-inner">
                    <div class="art-content-layout-wrapper layout-item-0">
                        <div class="art-content-layout layout-item-1">
                            <div class="art-content-layout-row">
                                <div class="art-layout-cell layout-item-2" style="width: 100%">
                                    <p style="text-align: center;">Copyright © 2014<br></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </footer>

        </div>


    </body>
    </html>
